/* CSS declarations go here */
action.button {
    position: relative;
}

.delete-request {
    position: absolute;
    right: -8px;
    top: 3px;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
}